<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.oa.mapper.PermissionCustomMapper" >

  <resultMap id="MenuListResultMap" type="com.web.oa.pojo.TreeMenu">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <collection property="children"
                select="com.web.oa.mapper.PermissionCustomMapper.getSubMenu"
                column="id">
      <id column="id" property="id" jdbcType="BIGINT" />
      <result column="name" property="name" jdbcType="VARCHAR" />
      <result column="type" property="type" jdbcType="VARCHAR" />
      <result column="url" property="url" jdbcType="VARCHAR" />
      <result column="percode" property="percode" jdbcType="VARCHAR" />
      <result column="parentid" property="parentid" jdbcType="BIGINT" />
      <result column="parentids" property="parentids" jdbcType="VARCHAR" />
      <result column="sortstring" property="sortstring" jdbcType="VARCHAR" />
      <result column="available" property="available" jdbcType="CHAR" />
    </collection>
  </resultMap>

  <select id="findMenuList" resultMap="MenuListResultMap">
    select * from sys_permission where parentid=1
  </select>
  
  <select id="getSubMenu" resultType="com.web.oa.pojo.Permission" parameterType="int">
    select * from sys_permission where parentid=#{id} and type like '%menu%'
  </select>

  <select id="getUserPermissions" resultType="com.web.oa.pojo.Permission" parameterType="long">
    SELECT * FROM sys_permission
    WHERE type like '%permission%' AND id in
    (SELECT sys_permission_id FROM sys_role_permission
    WHERE sys_role_id=(SELECT role FROM employee WHERE id=#{id}));
  </select>
</mapper>